@import url("./inter/inter.css");

/* Dark mode colors. */
:root {
	--sl-sidebar-pad-x: 2rem !important;
	--sl-color-accent-low: #0d1117 !important;
	--sl-color-accent: #487c7e !important;
	--sl-color-accent-high: #5c975e !important;;
	--sl-color-white: #ffffff !important;
	--sl-color-gray-1: #eceef2 !important;
	--sl-color-gray-2: #c0c2c7 !important;
	--sl-color-gray-3: #888b96 !important;
	--sl-color-gray-4: #545861 !important;
	--sl-color-gray-5: #353841 !important;
	--sl-color-gray-6: #0d1117 !important;
	--sl-color-black: black !important;
	--sl-color-bg-nav: #0d1117 !important;
	--sl-font: 'InterVariable';
}

.content-panel:has(h1#_top:not([data-page-title])) {
	display: none;
}

* {
	font-feature-settings: "pnum" on, "lnum" on, "zero" on, "ordn" on, "salt" on;
}

.content-panel {
	border-top: none !important;
}

.social-icons:after {
	display: none;
}