---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<ul style="margin: 0;">
	{
		posts.map((i) => {
			return (
				<li>
					<a href={`/blog/${i.id}`}>
						<b>{i.data.title}</b>
						<br />
						<i>{i.data.description}</i>
					</a>
				</li>
			);
		})
	}
</ul>
