---
interface Props {
	links: string[][];
}

const links = Astro.props.links;
---

<ul>
	{
		links.map((url) => (
			<li>
				<a href={url[1]}>{url[0]}</a>
			</li>
		))
	}
</ul>

<style>
	ul {
		padding: 0;
		margin: 0;
		display: inline-flex;
		list-style-type: none;
		gap: 1rem;
	}
</style>
