@font-face {
	font-family: CascadiaCodeVariable;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("roman.ttf") format("woff2");
}
@font-face {
	font-family: CascadiaCodeVariable;
	font-style: italic;
	font-weight: 200 700;
	font-display: swap;
	src: url("italic.ttf") format("woff2");
}
