@import url('https://rsms.me/inter/inter.css');

:root {
	--vp-c-brand-1: #5c975e;
	--vp-c-brand-2: #487c7e;
	--vp-home-hero-name-color: #3c3c4320;
	--vp-home-hero-name-background: linear-gradient(
		125deg,
		#ff0000,
		#ffa500,
		#ffff00,
		#008000,
		#0000ff,
		#800080
	);
}

.dark {
	--vp-c-bg: #000000;
	--vp-c-bg-alt: #0d1117;
	--vp-home-hero-name-color: #ffffff80;
}

:root {
	font-feature-settings: 'pnum' on, 'lnum' on, 'zero' on, 'ordn' on, 'salt' on;
}

:root.dark [src$='#light'] {
	display: none;
}

:root:not(.dark) [src$='#dark'] {
	display: none;
}
