:root {
	--background-color: #0d1117;
	--background-overlay: #0d1117bc;
	--callout-color: #10151d;
	--callout-text: white;
	--highlight-color: #ff9c9c;
	--hover-color: #ff7070;
	--text-color: white;
	--border-radius: 20px;
	--border-radius-large: 25px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*::selection {
	background-color: var(--hover-color);
}

html {
	color-scheme: dark;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-family: InterVariable;
	font-feature-settings:
		'pnum' on,
		'lnum' on,
		'zero' on,
		'ordn' on,
		'salt' on;
	font-size: 1.25rem;
	font-weight: 400;
	leading-trim: both;
	text-edge: cap;
	margin: 0;
	min-height: 100vh;

	@media (max-width: 768px) {
		font-size: 1rem;
	}

	@media (max-width: 480px) {
		font-size: 0.875rem;
	}
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 0 4.5rem;

	&.prose {
		display: block;
		font-size: 0.95rem;
		line-height: 1.5rem;

		h1 {
			font-size: 2rem;
		}

		a {
			text-decoration: underline;
		}

		hr {
			margin: 3rem 0 1.5rem;
			border-width: 0.01rem;
			border-color: var(--callout-color);
		}

		blockquote {
			color: var(--callout-text);
			margin: 0;
			padding: 1rem 0;

			em {
				display: block;
				border-left: 0.2rem solid var(--callout-color);
				padding-left: 2rem;
			}
		}
	}

	@media (max-width: 768px) {
		padding: 0 1rem;
	}
}

footer {
	margin-top: 2.25rem;
	background-color: var(--callout-color);
	padding: 2rem;
	font-size: 0.75rem;

	div {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-items: center;

		a {
			display: flex;

			img {
				width: 2rem;
				height: 2rem;
			}
		}

		img {
			width: 2rem;
			height: 2rem;
		}
	}
}

p {
	margin: 0;
}

h1 {
	font-weight: 600;
	margin-top: 0.5rem;

	@media (max-width: 768px) {
		font-size: 1.5rem;
	}

	@media (max-width: 480px) {
		font-size: 1.25rem;
	}
}

a {
	transition:
		color 0.5s ease,
		background-color 0.5s ease;

	&:link,
	&:visited {
		color: var(--highlight-color);
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
		color: var(--hover-color);
	}

	&.underline {
		text-decoration: underline;
	}

	&.btn {
		color: var(--text-color);
		background-color: var(--callout-color);
		font-size: 0.9rem;
		text-align: center;
		padding: 0.75rem 1.5rem;
		border-radius: 1.5rem;

		&:hover {
			background-color: var(--highlight-color);
		}
	}

	&.primary {
		background-color: var(--hover-color);

		&:hover {
			background-color: var(--highlight-color);
		}
	}
}
