:root {
	--callout-text: #98989f !important;
	--highlight-color: #5c975e !important;
	--hover-color: #487c7e !important;
	--text-color: white !important;
	--border-radius: 15px !important;
	--border-radius-large: 25px !important;
}

main {
	margin: 0 auto;
}

bar {
	gap: 2rem;
}

bar > a:nth-child(1) {
	flex-grow: 1;
}
